

body {
    background: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    width: 100%;
    height: 10%;
    background: #232323;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.space-x-logo {
    
    
}

.nav-list-1 {
    color: #FFFFFF;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.nav-list-2 {
    color: #8B939B;
    display: flex;
    flex-direction: row;
    
}
